<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="URL" value="192.168.88.81"/>
    <add key="UserName" value="****"/>
    <add key="Password" value="*****.."/>

    <add key="LocalDirectory" value="F:\FilePuller\"/>

    <add key="RecipientsEmailAddressList" value="*****@r-cis.com,******@r-cis.com,*********@gmail.com"/>

  </appSettings>
</configuration>
